body {
  background-color: #f2ebe3;
  font-family: 'Montserrat', sans-serif;
}

/* Center */
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 600px;
  height: 400px;
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden; 
}

/* Left side */
.left {
  width: 50%;
  height: 100%;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Right side */
.right {
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.perfume {
  letter-spacing: 5px;
  color: #6c7289;
  font-size: 12px;
  font-weight: 500;
}

.right h1 {
  font-family: 'Fraunces', serif;
  font-size: 28px;
  line-height: 1.1;
}

.right p {
  color: #6c7289;
  font-size: 14px;
  line-height: 1.6;
}

.prices {
  display: flex;
  align-items: center;
  gap: 15px;
}

.new {
  font-size: 30px;
  font-family: 'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  font-weight: 700;
}

.old {
  text-decoration: line-through;
  color: #6c7289;
}

button {
  background-color: hsl(158, 36%, 37%);
  border: none;
  color: #fff;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button img {
  margin-right: 10px;
}

@media (max-width: 600px) {
  .card {
    width: 90%;
    max-width: 340px;
    flex-direction: column;
    height: auto;
    margin-top: 30px;
  }

  .left {
    width: 100%;
    height: auto;
  }

  .left picture img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0; 
  }

  .right {
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 0 0 10px 10px;
  }
}
